services:
  localstack:
    image: localstack/localstack:latest
    container_name: s3-manager-localstack
    ports:
      - '4566:4566'
    environment:
      SERVICES: s3
      DEBUG: 0
      PERSISTENCE: 0
      AWS_ACCESS_KEY_ID: test
      AWS_SECRET_ACCESS_KEY: test
      AWS_DEFAULT_REGION: us-east-1
    volumes:
      - ./scripts/localstack-init.sh:/etc/localstack/init/ready.d/init.sh:ro
    healthcheck:
      test: ['CMD', 'curl', '-f', 'http://localhost:4566/_localstack/health']
      interval: 10s
      timeout: 5s
      retries: 20

  keycloak:
    image: quay.io/keycloak/keycloak:23.0
    container_name: s3-manager-keycloak
    command: start-dev --import-realm
    ports:
      - '8090:8080'
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      KC_DB: dev-file
      KC_HEALTH_ENABLED: 'true'
    volumes:
      - ./scripts/keycloak-realm.json:/opt/keycloak/data/import/realm.json:ro
